<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>

<body onload="onLoad()">
    <textarea id="sendTextArea" rows="10" cols="50"></textarea>
    <textarea id="recvTextArea" rows="10" cols="50"></textarea>
</body>

<script>
    console.log('init');
    
    var sendTextArea = document.getElementById("sendTextArea");
    var recvTextArea = document.getElementById("recvTextArea");
    
    var webSocket = new WebSocket("ws://127.0.0.1:7777");
    var rcv_data;
        
    var client_id = Math.random().toString(36).substr(2,11);
    
    var dummy_data= 'fjffjffjfff';

    for (var i = 1; i < 7000; i++){
                dummy_data += 'fjffjffjfff';
            }

    


    webSocket.interval = setInterval(() => { // ?초마다 클라이언트로 메시지 전송
      if (webSocket.readyState === webSocket.OPEN) {
        webSocket.send(client_id + ',' + dummy_data);
        sendTextArea.value += client_id +"\n";
        console.log(webSocket.bufferedAmount);
      }
    }, 100);

    webSocket.onmessage = function(message){
        // recvTextArea.value += message.data+"\n";
        recvTextArea.value += client_id +"\n";
        rcv_len = recvTextArea.value.length;
        snd_len = sendTextArea.value.length;
        console.log('send -> ', snd_len, 'recv -> ', rcv_len);
        
    };


</script>
</html>